* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}


/* Navbar */
.navbar {
    background-color: #F55A5A;
    padding: 1rem;
}

.navbar h1 {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.navbar h1::before {
    background-image: url('https://www.iconsdb.com/icons/download/white/globe-2-512.png');
    background-size: 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
    margin-right: 0.5rem;
}

/* Card */
.card--container {
    display: flex;
    margin: 1rem;
}

.dest-img {
    width: 125px;
    height: 168px;
    border-radius: 8px;
    margin-right: 1rem;
}

.loc-info {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-weight: 400;
    font-size: 10.24px;
    margin-bottom: 0.43rem;
}

.dest-country {
    color: #2B283A;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

.dest-country::before {
    background-image: url('https://w7.pngwing.com/pngs/409/413/png-transparent-map-drawing-pin-map-marker-thumbnail.png');
    background-size: 8px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 8px; 
    height: 14px;
    content:"";
    margin-right: 0.5rem;
}

.loc-info a {
    color: #918E9B;
}

.dest-title {
    margin-bottom: 1.31rem;
    font-weight: 700;
    font-size: 1.56rem;
}

.travel-dates {
    font-size: 0.64rem;
    font-weight: 700;
    margin-bottom: 0.56rem;
}

.description {
    color: #2B283A;
    font-size: 0.64rem;
    line-height: 0.96rem;
    font-weight: 400;
    max-width: 20rem;
}